<header>
    <div class="wrap">
        <nav>
            <a class="logo" href="/"><img src="{{ asset('assets/images/logo.png') }}" alt="logo"/></a>
            <ul>
                <li><a class="home" href="/">Home</a></li><!--
                -->
                <li><a class="equipe" href="/equipe">Equipe</a></li><!--
                -->
                <li><a class="projets" href="/projets">Projets</a></li><!--
                -->
                <li><a class="news" href="/news">News</a></li><!--
                -->
                <li><a class="contact" href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<hr class="clear fix"/>
